{% extends "base.html" %}
{% load static %}
{% block title %}
  Тренировка
{% endblock %}
{% block content %}
<div class="col-12 col-md-7 m-3 mx-auto verbalis-user-div verbalis-train-container">
    <div class="col verbalis-user-info-div">
        <div id='train'>
            <div id='rus-eng'>
                <div class='col-12 d-flex justify-content-center'>
                    <span class='word-title detail' style='text-transform: none'> Тренировка закончена! </span>
                </div>

                <div class='row d-flex justify-content-center padding-top'>
                    <div class='col-5'>
                        <b> Слово </b>
                    </div>
                    <div class='col-2 d-flex justify-content-end'>
                        <b> Ошибки </b>
                    </div>
                </div>
                <div class='row d-flex justify-content-center'>
                    <div class='col-5 result-text'>
                        Word - Слово
                    </div>
                    <div class='col-2 d-flex justify-content-end result-text'>
                        4
                    </div>
                </div>
                <div class='row d-flex justify-content-center'>
                    <div class='col-5 result-text'>
                        Word - Слово
                    </div>
                    <div class='col-2 d-flex justify-content-end result-text'>
                        4
                    </div>
                </div>
                <div class='row d-flex justify-content-center'>
                    <div class='col-5 result-text'>
                        Word - Слово
                    </div>
                    <div class='col-2 d-flex justify-content-end result-text'>
                        4
                    </div>
                </div>
                <div class='row d-flex justify-content-center'>
                    <div class='col-5 result-text'>
                        Word - Слово
                    </div>
                    <div class='col-2 d-flex justify-content-end result-text'>
                        4
                    </div>
                </div>
                <div class='row d-flex justify-content-center'>
                    
                    <a class='col-6 d-flex justify-content-center no-decoration' href="{% url 'trainings:list'%}">
                        
                            <button class='plus-button detail clickable-word train-button'>На главную</button>
                    </a>
                    
                </div>

            </div>
        </div>
    </div>
</div>

<script>
  window.APP_DATA = {
    userId: {{ user_id|default:"null" }},
    words: {{ words|safe }},
    csrf: "{{ csrf_token }}",
    order: {{ order|safe }}
  };
</script>

<script type="module" src="{% static 'js/train.js' %}"></script>

{% endblock %}