{% extends "base.html" %}
{% block title %}
  Тренировка
{% endblock %}
{% load static %}
{% block content %}
    <div class="col-12 col-md-6 m-3 mx-auto verbalis-user-div" style='margin-bottom: 40px !important'>
        <a href='{% url "trainings:train" %}' class='train-link'>
            <div class='row words-to-repeat-div'>
                <div>
                    <span class='special-font'>{{ words_to_repeat }}</span> слов нужно повторить
                </div>
            </div>
        </a>
        <a href='{% url "trainings:train" %}' class='train-link'>
            <div class='row words-to-repeat-div new'>
                <div>
                    <span class='special-font'>{{ new_words }}</span> новых слов для изучения
                    
                </div>
                
            </div>
        </a>
    </div>
    <div class='col-12 col-md-8 m-3 mx-auto'>
        <div class='row'>
            <div class='col-1'>
            </div>
            <div class='col-10 verbalis-training-text'>
                Ваш план тренировки:
            </div>
            <div class='col-1 pencil'>
                <a href="{% url 'trainings:edit' %}"> {% include "includes/svg/pencil.html" %} </a>
            </div>
        </div>
        <div class="modules-grid">
        {% for module in modules %}
            <div class="module-card">
            {% if forloop.first %}
                <img src="{% static 'img/open_puzzle.png' %}">
            {% elif forloop.last %}
                <img src="{% static 'img/close_puzzle.png' %}">
            {% else %}
                <img src="{% static 'img/middle_puzzle.png' %}">
            {% endif %}
                <div class="module-overlay">
                    <span>{{ module.displayed }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}