<div class='row d-flex align-items-center' style='padding: 0px 5px'>
    <div class='col-12'>
        <button class='more-button  clickable-word'  data-word-id="{{ obj.pk }}" type="button"> {% include "includes/svg/more.html" %} </button>
        <button class='plus-button {% if obj.is_in_userwords %}plus-button--added{% endif %}' type="button">
            {% if obj.is_in_userwords %}
                <a class='word-added' href="{% url 'words:remove_word' obj.pk %}" title="Уже в словаре"> <b> - </b></a>
            {% else %}
                <a class='word-link' href="{% url 'words:add_word' obj.pk %}"> <b> + </b></a>
            {% endif %}
        </button>
        <a class='word-title' href='{% url "words:detail" obj.pk %}' style='text-decoration: none'> {{ obj.word }} - {{ obj.word_translate }} </a>
        <div id="wordModalContainer" style="position: absolute; display: none; z-index: 1000;"></div>
    </div>

    <div style='padding: 5px 50px;' class='content show'>
        <button class='more-button' type="button"> {% include "includes/svg/volume.html" %} </button>
        <span class='part-of-speach'>[{{ obj.part_of_speach }}]</span>
        <ul>
            {% for sent in obj.sentence_set.all %}
            <li>
            <div class='examples'>
                {{ sent.sentence }}
            </div>
            {% endfor %}
            </li>
        </ul>
    </div>
</div>