{% load static %}
<header>
  <nav class="navbar navbar-light verbalis-nav" style="background-color: #D6ECFA">
    <div class="container">
      <a class="navbar-brand" href="{% url 'users:about' %}">
        <img src="{% static 'img/logo_text.png' %}" width="180" class="d-inline-block align-top" alt="">
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          {% if user.is_authenticated %}
            <li class="nav-item">
              {% if user.cur_language %}
              <div class='verbalis-lang-div'>
                <img class='lang-img' src="{{ user.cur_language.icon.url }}">
                <span class="language-code"> {{ user.cur_language.slug }} </span>
              </div>
              {% else %}
              <div> язык не выбран </div>
              {% endif %}
            </li>
            <li class="nav-item">
              <a href="{% url 'users:detail' user.pk %}" class='verbalis-nav-username'>
                {{ user.username }}
                {% if user.image %}
                  <img src="{{ user.image.url }}"  class='verbalis-nav-img'>
                {% else %}
                  <img src="{% static 'img/profile.png' %}" class='verbalis-nav-img'>
                {% endif %}
              </a>
            </li>
          {% else %}
            {% if view_name != 'login' %}
                <button type="button" class="verbalis-nav-btn"><a class="text-decoration-none text-reset"
                    href="{% url 'login' %}">Вход</a></button>
            {% endif %}
            {% if view_name != 'users:registration' %}
                <button type="button" class="verbalis-nav-btn"><a class="text-decoration-none text-reset"
                    href="{% url 'users:registration' %}">Регистрация</a></button>
            {% endif %}
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>