.verbalis-profile-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #888;
  overflow: hidden;
  border: 3px solid #3A82FA;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.verbalis-username {
    color: #234681;
    font-size: 24pt;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.verbalis-user-info-div {
    padding-top: 3%;
}

.verbalis-email {
    color:#3A82FA;
    font-size: 11pt;
    margin: 0%;
    padding: 0%;
}

.foll-div {
  padding: 3% 0%;
}

.foll-number {
  color: #234681;
  font-weight: 600;
  font-size: 15pt;
  margin-bottom: 0px; /* уменьшаем расстояние между цифрой и текстом */
}

.foll-text {
  color: #3A82FA;
  font-size: 17pt;
  margin: 0;
}

.find-friend-button {
    align-items: center;
    background-color: #3A82FA;
    color:white;
    border: none;
    padding: 2% 10%;
    margin: 7% 0%;
    border-radius: 10px;
    font-weight: 600;
}

.pencil {
    color:#234681;
}