{% extends "base.html" %}
{% load static%}
{% block title %}
  Verbalis
{% endblock %}
{% block content %}
  <div class="col-12 col-md-7 m-3 mx-auto verbalis-user-div" style='padding: 40px; padding-top: 10px;'>
    <div class='row verbalis-user-info-div'>
        <div class='col-12 col-md-8'>
          <h1 class='word-title' style='font-size: 26pt'> Добро пожаловать в Verbalis! </h1>
          <h3 class='word-title'> Умное приложение для изучения иностранных слов </h3>
          <p> Забудьте о зубрёжке и забывчивости. Verbalis — это не просто словарь, а ваш персональный лингвистический помощник, 
            построенный на алгоритмах машинного обучения. </p>
        </div>
        <div class='col-12 col-md-4'>
          <img src='{% static 'img/animation.gif' %}' alt="Загрузка" width=100%>
        </div>
    </div>
    <div class='row'>
      <p> Мы анализируем ваш прогресс, запоминаем, какие слова даются легко, а какие — требуют повторения, 
            и автоматически подстраиваем тренировки под ваш стиль обучения. Чем больше вы пользуетесь Verbalis, 
            тем умнее он становится — и тем быстрее вы говорите на новом языке. </p>
          
            <ul>
              <li>
                Эффективные карточки с переводом, примерами и произношением
              </li>
              <li>
                Интеллектуальные тренировки: от перевода до аудирования
              </li>
              <li>
                Персональные рекомендации на основе вашей активности
              </li>
              <li>
                Коллекции слов — создавайте свои или добавляйте готовые тематические наборы
              </li>
              <li>
                Следите за прогрессом: streak’и, статистика, достижения
              </li>
            </ul>
            <p> Начните сегодня — и через месяц удивитесь, сколько слов вы уже знаете. </p>
            <p> Ваш язык. Ваш ритм. Ваш Verbalis. </p>
    </div>
    </div>
  </div>
{% endblock %}